<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <!-- <h2 class="text-center mb-4">User Registration</h2> -->
        <form  action="/profile/update" method="post" >
            
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text"  name="username" class="form-control" id="username" placeholder="<%= userdata.username %>">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="<%= userdata.email %>">
            </div>
            <div class="form-group">
                <label for="number">Number</label>
                <input type="tel" name="number" class="form-control" id="number" placeholder="<%= userdata.number %>">
            </div>
            <div class="form-group">
                <label for="number">Project</label>
                <input type="tel" name="project" class="form-control" id="number" placeholder="<%= userdata.project %>">
            </div>
            <div class="form-group">
                <label for="number">Address</label>
                <input type="tel" name="address" class="form-control" id="number" placeholder="<%= userdata.address %>">
            </div>
            <button type="submit" class="btn btn-primary btn-block">update</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
